* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f7fa;
  padding: 20px;
}

header {
  margin-bottom: 30px;
}

h1 {
  margin: 20px;
  font-size: 30px;
  font-weight: 700;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  gap: 16px;
  margin-right: 20px;
  margin-left: 20px;
}

.input-block {
  background: #f4f5f8;
  border-radius: 8px;
  padding: 16px 24px;
  flex: 1 1 auto;
  min-width: 220px;
}

.input-label {
  font-size: 14px;
  color: #9aa1b1;
  margin-bottom: 8px;
  display: block;
}

.input-value {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.submit-btn {
  background: #07f;
  color: white;
  font-weight: 500;
  padding: 14px 26px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
  white-space: nowrap;
  flex-shrink: 0;
}

.submit-btn:hover {
  background: #006de3;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.subtitle {
  font-size: 13px;
  color: #888;
}

.card-info div {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  font-size: 14px;
}

.card-info span {
  color: #888;
}

.card-info b {
  font-weight: bold;

}

.action-btn {
  background-color: #ffa500;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.action-btn:hover {
  background-color: #ff9400;
}

footer {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 400px;
  background-color: #192132;
  color: #ccc;
  font-size: 12px;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  line-height: 1.4;
}
.logo {
  width: 48px;
  height: 48px;
  background-color: #a1d731;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 16px 0;
}


